nav {
    background-color: blue;
    overflow: hidden;
}

nav a {
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    color: green;
}

/* FLAG - make sure this works once the links are set  */
nav a.active {
    background-color: yellow;
    color: purple;
}