nav {
    background-color: blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 110%;
    z-index: 1;
    padding: 0;

    /* display: flex; */
    
}

nav a {
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    /* justify-content: center; */
}

nav a:hover {
    color: green;
}

/* FLAG - make sure this works once the links are set  */
nav a.active {
    background-color: yellow;
    color: purple;
}

body {
    padding: 50px;
    z-index: 10
}
